@use "./base.scss";
@use "./syncer";

// put your custom CSS here!
body  {
  background-image: url("https://images.uesp.net/7/77/UESP-Parchment_Background.jpg");
  background-color: #cccccc;
}
@font-face {
  font-family: "Cyrodiil";
  src:
    local("/static/Cyrodiil.otf"),
    url("/static/Cyrodiil.otf") format("opentype") tech(color-COLRv1);
}
:root {
  --headerFont: "Cyrodill" !important;
  --bodyFont: "Cyrodill" !important;
}
