@use "./base.scss";
@use "./syncer";

// put your custom CSS here!
@font-face {
  font-family: "Cyrodiil";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/Cyrodiil.otf") format("otf");
}

body {
  background: lightblue url("img_tree.gif") no-repeat fixed center;
}
